.modal{
    background-color: rgb(0, 139, 139, 0.30);
    margin-top: 15em;
}
.modal-body{
    background-color: #198754;
    box-shadow: inset 1px 1px 15px black ;
}
.modal-footer{
    background-color: #198754
}
.modal-header{
    background-color: #198754;
    box-shadow: inset 1px 1px 15px black ;
}
.button{
    color: green
}