.modal{
    background-color: rgb(0, 139, 139, 0.30)
}
.modal-body{
    background-color: olivedrab
}
.modal-footer{
    background-color: olivedrab
}
.modal-header{
    background-color: olivedrab
}
.button{
    color: green
}