.mission-top{
    flex: 80%;
    padding : 200px;
    background-color: burlywood;
 /* background-image: url('./components/images/nyc.jpeg'); */
}
.mission-middle{
    flex: 80%;
    padding : 200px;
    background-color: rgb(78, 78, 78);
}
.mission{
    flex: 80%;
    padding : 300px;
    background-color: #198754;
    text-align: right;
    
}
.mission-vision{
    flex: 80%;
    padding : 300px;
    background-color: black;
}
.mission-box1{
    width: 50%;
    float: left;
    text-align: center;
}
.mission-box2{
    width:50%;
    float:right;
    text-align: center;
}
.revoluton{
    flex: 80%;
    padding : 100px;
    background-color: #198754;
    text-align: center;
}
#text-side{
    width: 70%;
    height: 100%;
    background-color: rgba(248, 245, 227, 0.973);
    float: left;
}
#logo-side{
    width: 30%;
    height: 16.4em;
    background-color: grey;
    float: right;
}
.missions{
    width:70%;
    height: 15.6em;
    background-color: #198754;
    float: left;
    box-shadow: inset 1px 1px 15px black ;
}
.values{
    width: 70%;
    background-color: rgba(248, 245, 227, 0.973);
    float: left;
    /* box-shadow: inset 1px 1px 15px black ; */
}
.join{
    flex: 80%;
    padding : 300px;
    background-color: rgb(122, 156, 103); 
}
.vision-box{
    box-shadow: inset 1px 1px 15px black;
    color: olive;
    height: 282px;
}
.vision-pic{
    background-image: url(../assets/mission-cityscape.jpg);
    background-size: cover; 
}
.mission-pic{
    background-image: url(../assets/mission-mission\ photo.jpg);
    background-size: cover; 
}
.value-pic{
    background-image: url(../assets/mission-biodiversity-garden.jpg);
    background-size: cover;
}
