.garden-display-background {
    background-image: url(../assets/garden_display_background.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    min-height: 100vh;
    max-width: 100%
  }

.garden-display-haze{
    min-height: 100vh;
    max-width: 100%;
    background-color: rgba(185, 216, 216, 0.3);
}

.garden-header{
    background-color: rgb(0, 139, 139, 0.5);
    padding:1em;
    text-align: center;
}

#garden-display-container{
    padding:5em;
    max-height: 800px;
    overflow: auto;
    }

#garden-display-row{
    margin: 0;
    padding: 2em;
}

#garden-display-card{
    padding: 3em;
    display: flex;
    justify-content: space-evenly;

}

.garden-card{
    border-radius: 15px;
    border: 2px solid black; 
    box-shadow: inset 1px 1px 15px black;
}

.garden-card:hover{
    cursor: pointer;
}
.garden-card:active{
    transform: translateY(3px);
    box-shadow: inset 1px 1px 15px black;
}